$primary-dark-blue: rgb(26, 118, 210);
$primary-light-blue: rgb(104, 174, 240);
$secondary-light-blue: dodgerBlue;

$primary-teal: rgb(48, 211, 186);
$secondary-teal: #77e6d5;

$primary-grey: #666;
$secondary-grey: #f6f6f8;
$tertiary-grey: #d7d7d7;

$primary-black: #242424;
$secondary-black: #434343;

$primary-white: #ffffff;

$primary-red: #ff3939;

$primary-green: #4bb543;

@mixin box-shadow {
  box-shadow: 0 0 8px 0 $secondary-light-blue;
}

::-webkit-scrollbar {
  height: 0.7em;
}

::-webkit-scrollbar-track {
  background: $primary-light-blue;
}

::-webkit-scrollbar-thumb {
  background: $primary-white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
