@import "./Colors.scss";

.weather-container-current {
  min-height: 30vh;
  padding: 4em;
  padding-bottom: 10px;
  .date-current {
    margin-bottom: 0;
    font-size: 2em;
  }
  .temp-current {
    min-height: 15vh;
    font-size: 6em;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .horizontal-elements-current {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .weather-description-current {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 400px) and (min-width: 230px) {
  .weather-container-current {
    min-height: 20vh;
    padding: 2em;
    .date-current {
      font-size: 1em;
    }
    .temp-current {
      min-height: 5vh;
      font-size: 3em;
    }
  }
}
@media (max-width: 755px) and (min-width: 401px) {
  .weather-container-current {
    min-height: 20vh;
    padding: 2em;
    .date-current {
      font-size: 1.5em;
    }
    .temp-current {
      min-height: 10vh;
      font-size: 4em;
    }
  }
}
